/* Access page styles */
.access-container {
  display: flex;
  flex-direction: column;
}

.access-container h1 {
  position: absolute;
  top: 0;
  left: 0;
  padding: 2em;
  transform: rotate(335deg);
  background: linear-gradient(180deg, var(--footer-bg-color), #006d7577);
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
  mask-image: url("../../assets/images/textures/brush-mask-03-a.png"); /* Use PNG for transparency */
  -webkit-mask-image: url("../../assets/images/textures/brush-mask-03-a.png"); /* Add WebKit support */
  mask-size: 100% 100%;
  -webkit-mask-size: 100% 100%;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  align-items: center;
}

.access-container h2 {
  margin: 15vh auto 0;
}

.map-container {
  display: flex;
  position: relative;
  margin: 1vh auto;
  min-width: 40%;
  max-width: 95%;
  height: 50vh;
  border-radius: 1em;
  overflow: hidden; /* Ensure border-radius is applied */
}

.map-container iframe {
  z-index: 2;
}

.access-info {
  display: flex;
  padding-left: 1em;
  background-color: #0005;
  flex-direction: column;
  min-width: 15em;
  text-align: left;
}

.map-container iframe {
  display: block;
  width: 100%;
  height: 100%;
  border: none; /* Remove border */
}

.contact-info {
  margin-top: 20px;
}

.contact-info h2 {
  margin-bottom: 10px;
}

.contact-info p {
  font-size: 1.2rem;
}
