/* Flipbook container */
.flip-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 40px auto;
}

/* Page styling */

/* Styling for open-book effect */
/* When the book is closed and on the front cover */
.flip-page-container.front-cover {
  transform: translateX(-200px); /* Move left by half the book's width */
  transition: transform 0.5s ease-in-out;
}

/* When the book is closed and on the back cover */
.flip-page-container.back-cover {
  transform: translateX(200px); /* Move right by half the book's width */
  transition: transform 0.5s ease-in-out;
}

/* When the book is open */
.flip-page-container.open {
  transform: translateX(0); /* Normal position when open */
  transition: transform 0.5s ease-in-out;
}

.page:nth-child(odd) {
  background-color: #fffff0;
  border-radius: 0 10px 10px 0;
  box-shadow:
    -3px 0 10px 0 #0005,
    inset 3px 0 3px #0007;
}
.page:nth-child(even) {
  background-color: #fffff0;
  border-radius: 10px 0 0 10px;
  box-shadow: -3px 0 10px 0 #0005;
}

.page-contents {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 2em;
}

/* Styling for Menu Items */
.menu-item {
  display: flex;
  justify-content: space-between; /* Items on the left, prices on the right */
  padding: 10px 0;
  font-size: 1.2rem;
  border-bottom: 1px solid #ccc; /* Optional: To separate items with a line */
}

.menu-name {
  font-weight: bold;
}

.menu-price {
  font-weight: normal;
}

/* Navigation buttons */
.navigation-buttons {
  display: flex;
  justify-content: space-between;
  width: 200px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.page h1,
.page h2,
.page h3,
.page h4,
.page h5,
.page p,
.page li {
  color: black;
}

/* Navigation buttons */
.navigation-buttons {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  min-width: 200px;
  max-width: 80%;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
